<div class="content-wrapper" style="background:url(/assets/register-bg.jpg) no-repeat; height:520px;">
    <div class="register-main">
        <div class="register-cnt">
<%= form_for (@user) do |f| %>
<%= render 'errormessages/error_messages', object: f.object %>
          <table width="640" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right">Name : </td>
    <td><label>
      <input name="user[name]" type="text" class="form-style2" id="textfield" />
    </label></td>
    <td align="right">Email : </td>
    <td><input name="user[email]" type="text" class="form-style2" id="textfield2" /></td>
  </tr>
  <tr>
    <td align="right">Password:</td>
    <td><input name="user[password]" type="password" class="form-style2" id="textfield3" /></td>
    <td align="right">Re-Password :</td>
    <td><input name="user[password_confirmation]" type="password" class="form-style2" id="textfield4" /></td>
  </tr>


      <tr>
    <td align="right">Phone : </td>
    <td><input name="user[phone]" type="text" class="form-style2" id="textfield6" /></td>
    <td align="right">Dateofbirth : </td>
    <td><input name="user[birth]" type="text" class="form-style2" id="textfield6"  placeholder="dd/mm/yyyy" /></td>
  </tr>
  <tr>
  <td align="right">Gender : </td>
  <td colspan="3" style="padding:0px;"><table border="0" cellspacing="8" cellpadding="0" >
      <tr>
        <td  align="left" style="padding:0px;"><input type="radio" name="radio" id="radio" value="radio" /></td>
        <td  style="padding:0px;">Male</td>
        <td  style="padding:0px;" align="right"><input type="radio" name="radio" id="radio2" value="radio" /></td>
        <td  style="padding:0px;">Female</td>
        <td  style="padding:0px;"align="right"><input type="radio" name="radio" id="radio3" value="radio" /></td>
        <td  style="padding:0px;" align="left">Others</td>
      </tr>
    </table></td>
<!-- <td><input type="radio" name="sex" value="male">Male</td>
<td><input type="radio" name="sex" value="female">Female</td> -->
  </tr>

  <tr>
    <td align="right">Address : </td>
    <td colspan="3" style="padding:0px;"><table width="400" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td rowspan="2"><label>
          <textarea name="user[textarea]" id="textarea" cols="20" rows="4"></textarea>
        </label></td>
        <td><label>
          <select name="select" class="form-style2"  id="State">
          </select>
        </label></td>
        <td><select name="select2" class="form-style2" id="district">
        </select></td>
      </tr>
      <tr>
        <td><input name="user[citytown]" type="password"placeholder="citytown" style="width:100px;" class="form-style2" id="textfield7" /></td>
        <td><input name="user[mandal]" type="password" placeholder="mandal"style="width:100px;" class="form-style2" id="textfield8" /></td>
      </tr>
    </table></td>
    </tr>


    <tr>
    <td colspan="4" align="center" valign="middle"><%= show_simple_captcha %>
  <%# binding.pry %>

    </label></td>
    </tr>
  <tr>
    <td colspan="4" align="center" valign="middle"><label>
      <input name="button" type="submit" class="btn-style2" id="button" value="Submit" />
    </label></td>
    </tr>
</table>
<% end %>
      </div>
  </div>
  <script language="javascript">
            populateCountries("State", "district");
        </script>
<script type="text/javascript" src="/assets/statescript.js"></script>
